body {
    background-color: FAF4EF;
    font-family: sans-serif;
    margin: auto;
    max-width: 900px;
    line-height: 1.6em;
}

p {
    text-align: justify;
    font-family: sans-serif;
}

p:first-letter {
    font-size: 150%;
    font-weight: bold;
}

h1 {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #331A12;
}

a:hover {
    color: #96D9A0;
}

.brak_oplywania {
    clear: both;
}

h1.naglowek {
    text-align: center;
    margin-top: 55px;
    height: 200px;
    background: url(logo.png);
    background-repeat: no-repeat;
    background-position: center;
}


#menu {
    position: fixed;
    font-family: "Ubuntu Condensed", sans-serif;
    top: 0px;
    left: 0px;
    opacity: 0.9;
    background-color: #6DA67B;
    width: 100%;
    padding: 10px;
}

#menu:hover {
    opacity: 1;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    width: 19%;
    text-align: center;
    font-size: 18px;
}


#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 2px solid #3E271C;
}

fieldset {
    font-family: sans-serif;
    border: 2px solid #3E271C;
    border-radius: 5px;
    padding: 1em;
    width: 350px;
    margin:auto;
}

label {
    float: left;
    width: 100px;
    text-align: right;
}

legend {
    color: #000;
    font-weight: bold;
    padding: 4px;
    font-family: sans-serif;
}

fieldset div {
    margin-left: 100px;
}

table,td,th {
    border: 1px solid #649971;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 5px;
}

table {
    margin: auto;
}

caption {
    border-top: 1px solid #3E271C;
    border-left: 1px solid #3E271C;
    border-right: 1px solid #3E271C;
    border-color: #649971;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
    padding: 5px;
}

textarea,input[type=text] {
    border: 1px solid #649971;
    border-radius: 3px;
    padding: 5px;
}

textarea:focus,input[type=text]:focus {
    border: 2px solid #41634A;
}

input[type=submit],input[type=reset] {
    border: 0px solid;
    background-color: #649971;
    color: #FFF;
    border-radius: 5px;
    padding: 6px;
}

a {
    color: #79271C;
}

th {
    font-family: sans-serif;
}

aside {
    float: right;
    width: 200px;
}

nav {
    float: left;
    width: 100%;
}

nav ul {
    float: left;
    width: 100%;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    width: auto;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 4px;
}

.warstwa {
    position: fixed;
    display: none;
    left: 0%;
    top: 0%;
    width: 80%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    border: solid red;
    z-index: 20;
}

.tlo {
    z-index: 10;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 10;
}

.aktywny {
    border-bottom: 2px solid #d98862;
}


